<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.github.uoe-macos.jss.{name}</string>
	<key>Input</key>
	<dict>
		<key>NAME</key>
		<string>{name}</string>
		<key>ccpinfo</key>
		<dict>
			<key>Language</key>
			<string>en_GB</string>
			<key>Products</key>
			<array>
				<dict>
					<key>baseVersion</key>
					<string>{base_version}</string>
					<key>sapCode</key>
					<string>{sapcode}</string>
					<key>version</key>
					<string>latest</string>
				</dict>
			</array>
			<key>adminPrivilegesEnabled</key>
			<true/>
			<key>appsPanelEnabled</key>
			<false/>
			<key>customerType</key>
			<string>enterprise</string>
			<key>matchOSLanguage</key>
			<true/>
			<key>organizationName</key>
			<string>Edinburgh College of Art</string>
			<key>rumEnabled</key>
			<true/>
			<key>updatesEnabled</key>
			<true/>
		</dict>
	</dict>
	<key>ParentRecipe</key>
	<string>com.github.uoe-macos.jss.flatpkg.Adobe.CreativeCloudApp</string>
	<key>Process</key>
	<array>
	</array>
</dict>
</plist>
